old_al_results.ipynb
arylhalide_borylation_comparison.ipynb
science_data_analysis.ipynb
scheduler.py
figures/*
AL.ipynb
denmark_analysis.ipynb
scikit-lr
previous\ code/*
datasets/denmark/*
unused.py
literature/*
performance_excels/*
.DS_Store
__pycache__/
*.xlsx
*.pptx
notepad.ipynb
notebook2.ipynb
